@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F0EA;
}

header {
    background-color: #DFE69A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    padding: 12px 20px;
    position: relative;
    
}

header h1 a {
    text-decoration: none;
    color: #2e241b;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h2 {
    cursor: pointer;
    padding: 4px 8px;
    font-size: 20px;
    border: 2px solid transparent;
    display: inline-block;
    transition: 0.5s ease;

}

.navBar_expand {
    display: flex;
    gap: 20px;
}

li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 4px 8px;
    transition: 0.5s ease;
}

li:hover, header h2:hover {
    background-color: black;
    border: 2px solid black;
    color: aliceblue;
    border-radius: 5px;
    transform: scale(1.05);
}

.entrar {
    display: flex;
}

main {
    background-color:#F4F0EA;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add-plant {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-left: 30px;
    background-color: #DFE69A;
    flex-direction: column;
}



