@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F0EA;
}

header {
    background-color: #DFE69A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    padding: 12px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
    left: 0;
}

header h1 a {
    text-decoration: none;
    color: #2e241b;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h2 {
    cursor: pointer;
    padding: 4px 8px;
    font-size: 20px;
    border: 2px solid transparent;
    display: inline-block;
    transition: 0.5s ease;

}

.navBar_expand {
    display: flex;
    gap: 20px;
}

li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 4px 8px;
    transition: 0.5s ease;
}

li:hover, header h2:hover {
    background-color: black;
    border: 2px solid black;
    color: aliceblue;
    border-radius: 5px;
    transform: scale(1.05);
}

.entrar {
    display: flex;
}


.apresentacao-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;
}


.intro {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #DFE69A;
    padding: 1rem 1.5rem;
    max-width: 500px;
    
    
}

.intro-texto {
    font-size: 20px;
    margin-top: 3rem;
}

.imagem img {
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 100px;
}


main {
    background-color:#F4F0EA;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main h2 {
    display: inline-block;
    margin-left: 5px;
    font-family: "Quicksand", sans-serif;
    margin-top: 100px;
    background-color: #DFE69A;
    padding: 10px 20px;
    flex-direction: column;  
}

.nome, 
.minha-planta, 
.diario, .data  {
    margin-top: 10px;
    margin-left: 5px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#plantName, #startDate {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

input:focus::placeholder {
    opacity: 0;
}

.diario {
    margin-bottom: 300px;
    margin-left: 5px;
}

#addName {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #DFE69A;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 5px;
}

#addName:hover{
    background-color: #2e241b;
    color: aliceblue;
}

.minha-planta p{
    margin-top: 30px;
    margin-left: 5px;
}

.diario{
        margin-left: 5px;
        margin-top: 30px;
}

.diario legend{
    margin-top: 10px;
    margin-left: 5px;
}

#nota{
    margin-left: 5px;
    width: 500px;
    height: 200px;
}

.diario button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #DFE69A;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 5px;
    display: block;
}

.diario button:hover {
    background-color: #2e241b;
    color: aliceblue;
}

footer {
    height: 50px;
    background-color: #DFE69A;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}





